-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT,
    "password_hash" TEXT,
    "last_login_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "role" TEXT NOT NULL DEFAULT 'traveler',
    "status" TEXT NOT NULL DEFAULT 'active',

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "itineraries" (
    "id" TEXT NOT NULL,
    "owner_id" TEXT NOT NULL,
    "owner_type" TEXT NOT NULL DEFAULT 'agent',
    "agent_id" TEXT,
    "title" TEXT NOT NULL,
    "origin" TEXT NOT NULL,
    "destination" TEXT NOT NULL,
    "start_date" TIMESTAMP(3) NOT NULL,
    "end_date" TIMESTAMP(3) NOT NULL,
    "pax" INTEGER NOT NULL,
    "price" DECIMAL(12,2),
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "operator_stripe_account_id" TEXT,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "itineraries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "itinerary_versions" (
    "id" TEXT NOT NULL,
    "itinerary_id" TEXT NOT NULL,
    "scenario" TEXT NOT NULL,
    "scenario_type" TEXT,
    "total_price" DECIMAL(12,2),
    "adred_action" TEXT,
    "items_json" JSONB,
    "kpis" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "diff_from_prev" JSONB,

    CONSTRAINT "itinerary_versions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "itinerary_items" (
    "id" TEXT NOT NULL,
    "version_id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "supplier" TEXT,
    "provider" TEXT,
    "title" TEXT,
    "start_ts" TIMESTAMP(3),
    "end_ts" TIMESTAMP(3),
    "geo" JSONB,
    "price" DECIMAL(12,2),
    "currency" TEXT,
    "details" JSONB,

    CONSTRAINT "itinerary_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "alert_subscriptions" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "itinerary_id" TEXT,
    "rule" JSONB NOT NULL,
    "channel" TEXT NOT NULL,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "last_notified_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "alert_subscriptions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "alerts" (
    "id" TEXT NOT NULL,
    "subscription_id" TEXT,
    "payload" JSONB NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'queued',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "alerts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "adred_predictions" (
    "id" TEXT NOT NULL,
    "route_key" TEXT NOT NULL,
    "date_bucket" TIMESTAMP(3) NOT NULL,
    "current_price" DECIMAL(12,2),
    "predicted_low" DECIMAL(12,2),
    "action" TEXT,
    "confidence" DOUBLE PRECISION,
    "horizon_days" INTEGER,
    "meta" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "adred_predictions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "providers" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT,
    "languages" TEXT[],
    "base_city" TEXT NOT NULL,
    "country_code" TEXT NOT NULL,
    "ratings_avg" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "ratings_count" INTEGER NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "stripe_account_id" TEXT,
    "verification_status" TEXT DEFAULT 'pending',
    "verification_score" DOUBLE PRECISION,
    "risk_level" TEXT,
    "detected_name" TEXT,
    "document_valid" BOOLEAN DEFAULT false,
    "extracted_country" TEXT,
    "extracted_id_number" TEXT,
    "match_faces" BOOLEAN DEFAULT false,
    "verification_notes" TEXT,

    CONSTRAINT "providers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "listings" (
    "id" TEXT NOT NULL,
    "provider_id" TEXT NOT NULL,
    "operator_id" TEXT,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "category" TEXT NOT NULL,
    "city" TEXT NOT NULL,
    "country_code" TEXT NOT NULL,
    "duration_minutes" INTEGER,
    "price_from" DECIMAL(12,2),
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "start_date" TIMESTAMP(3),
    "end_date" TIMESTAMP(3),
    "tags" TEXT[],
    "status" TEXT NOT NULL DEFAULT 'pending',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "listings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "provider_documents" (
    "id" TEXT NOT NULL,
    "provider_id" TEXT NOT NULL,
    "doc_type" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "provider_documents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "listing_availability" (
    "id" TEXT NOT NULL,
    "listing_id" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "spots_total" INTEGER NOT NULL,
    "spots_available" INTEGER NOT NULL,

    CONSTRAINT "listing_availability_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bookings" (
    "id" TEXT NOT NULL,
    "listing_id" TEXT NOT NULL,
    "provider_id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "date" TIMESTAMP(3) NOT NULL,
    "num_people" INTEGER NOT NULL,
    "total_price" DECIMAL(12,2),
    "amount_cents" INTEGER,
    "operator_share_cents" INTEGER,
    "commission_cents" INTEGER,
    "currency" TEXT DEFAULT 'usd',
    "payment_status" TEXT,
    "checkout_session_id" TEXT,
    "payment_intent_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "bookings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PaymentEvent" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "payload" JSONB NOT NULL,
    "processed_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PaymentEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PaymentRecord" (
    "id" TEXT NOT NULL,
    "booking_id" TEXT NOT NULL,
    "provider_id" TEXT NOT NULL,
    "amount_gross_cents" INTEGER NOT NULL,
    "commission_cents" INTEGER NOT NULL,
    "amount_net_cents" INTEGER NOT NULL,
    "currency" TEXT NOT NULL,
    "stripe_payment_intent_id" TEXT,
    "stripe_checkout_session_id" TEXT,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PaymentRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OperatorWallet" (
    "id" TEXT NOT NULL,
    "operatorId" TEXT NOT NULL,
    "totalEarned" INTEGER NOT NULL DEFAULT 0,
    "totalReleased" INTEGER NOT NULL DEFAULT 0,
    "pendingPayouts" INTEGER NOT NULL DEFAULT 0,
    "commission" INTEGER NOT NULL DEFAULT 0,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "OperatorWallet_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE INDEX "users_email_idx" ON "users"("email");

-- CreateIndex
CREATE INDEX "idx_itin_owner" ON "itineraries"("owner_id");

-- CreateIndex
CREATE INDEX "idx_itin_agent" ON "itineraries"("agent_id");

-- CreateIndex
CREATE INDEX "idx_itin_dest_date" ON "itineraries"("destination", "start_date");

-- CreateIndex
CREATE INDEX "idx_items_version" ON "itinerary_versions"("itinerary_id", "scenario");

-- CreateIndex
CREATE INDEX "idx_items_version_fk" ON "itinerary_items"("version_id");

-- CreateIndex
CREATE INDEX "idx_alerts_user" ON "alert_subscriptions"("user_id");

-- CreateIndex
CREATE INDEX "idx_alerts_itinerary" ON "alert_subscriptions"("itinerary_id");

-- CreateIndex
CREATE INDEX "idx_alerts_active" ON "alert_subscriptions"("active");

-- CreateIndex
CREATE INDEX "idx_alerts_status" ON "alerts"("subscription_id", "status");

-- CreateIndex
CREATE INDEX "idx_adred_route_date" ON "adred_predictions"("route_key", "date_bucket");

-- CreateIndex
CREATE UNIQUE INDEX "providers_email_key" ON "providers"("email");

-- CreateIndex
CREATE INDEX "idx_providers_status" ON "providers"("status");

-- CreateIndex
CREATE INDEX "idx_providers_city_country" ON "providers"("base_city", "country_code");

-- CreateIndex
CREATE INDEX "idx_listings_provider" ON "listings"("provider_id");

-- CreateIndex
CREATE INDEX "idx_listings_search" ON "listings"("city", "country_code", "category", "status");

-- CreateIndex
CREATE INDEX "idx_listings_status" ON "listings"("status");

-- CreateIndex
CREATE INDEX "idx_listings_operator" ON "listings"("operator_id");

-- CreateIndex
CREATE INDEX "idx_provider_docs_provider" ON "provider_documents"("provider_id");

-- CreateIndex
CREATE INDEX "idx_listing_availability_date" ON "listing_availability"("listing_id", "date");

-- CreateIndex
CREATE INDEX "idx_bookings_provider_status_date" ON "bookings"("provider_id", "status", "date");

-- CreateIndex
CREATE INDEX "idx_bookings_user_status" ON "bookings"("user_id", "status");

-- CreateIndex
CREATE UNIQUE INDEX "PaymentRecord_booking_id_key" ON "PaymentRecord"("booking_id");

-- CreateIndex
CREATE UNIQUE INDEX "OperatorWallet_operatorId_key" ON "OperatorWallet"("operatorId");

-- AddForeignKey
ALTER TABLE "itineraries" ADD CONSTRAINT "itineraries_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "itineraries" ADD CONSTRAINT "itineraries_agent_id_fkey" FOREIGN KEY ("agent_id") REFERENCES "providers"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "itinerary_versions" ADD CONSTRAINT "itinerary_versions_itinerary_id_fkey" FOREIGN KEY ("itinerary_id") REFERENCES "itineraries"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "itinerary_items" ADD CONSTRAINT "itinerary_items_version_id_fkey" FOREIGN KEY ("version_id") REFERENCES "itinerary_versions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "alert_subscriptions" ADD CONSTRAINT "alert_subscriptions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "alert_subscriptions" ADD CONSTRAINT "alert_subscriptions_itinerary_id_fkey" FOREIGN KEY ("itinerary_id") REFERENCES "itineraries"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "alerts" ADD CONSTRAINT "alerts_subscription_id_fkey" FOREIGN KEY ("subscription_id") REFERENCES "alert_subscriptions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "listings" ADD CONSTRAINT "listings_provider_id_fkey" FOREIGN KEY ("provider_id") REFERENCES "providers"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "listings" ADD CONSTRAINT "listings_operator_id_fkey" FOREIGN KEY ("operator_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "provider_documents" ADD CONSTRAINT "provider_documents_provider_id_fkey" FOREIGN KEY ("provider_id") REFERENCES "providers"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "listing_availability" ADD CONSTRAINT "listing_availability_listing_id_fkey" FOREIGN KEY ("listing_id") REFERENCES "listings"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "bookings" ADD CONSTRAINT "bookings_listing_id_fkey" FOREIGN KEY ("listing_id") REFERENCES "listings"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "bookings" ADD CONSTRAINT "bookings_provider_id_fkey" FOREIGN KEY ("provider_id") REFERENCES "providers"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "bookings" ADD CONSTRAINT "bookings_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

